:root {
  --appBackground: #1f253d;
  --primary: #394264;
  --secondary: #11a8ab;
  --textColorLightBg: theme("colors.teal.800");
  --textColorDarkBg: #e1e3ec;
  --cardBackground: theme("colors.blueGray.50");
  --correctAnswer: #11a8ab;
  --wrongAnswer: #e64c65;
  --notAnswer: theme("colors.blueGray.300");
  --answer: theme("colors.blueGray.800");
}

html,
body {
  height: 100%;
}

body {
  background: theme("colors.appBackground");
  color: theme("colors.textColorDarkBg");

  display: flex;
  justify-content: center;
}

.mat-radio-label {
  .mat-radio-label-content {
    white-space: pre-wrap;
  }
}
