/* Preflight file set default component style based on Tailwind.css preflight */

/* Remove default margins on elements */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
body,
pre {
  margin: 0;
}

/* 
 * All heading elements are completely unstyled by default, making headings unstyled by default
 * means any styling you apply to headings happens consciously and deliberately 
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* 
 * Ordered and unordered lists are unstyled by default,
 * with no bullets/numbers and no margin or padding. 
*/
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
 * Images and other replaced elements (like svg, video, canvas, and others) are display: block by default.
 * This helps to avoid unexpected alignment issues that you often run into using the browser default of display: inline.
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

/* 
 * Overrides the default border styles for all elements with the following rules
 *
*/
*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  // border-color: theme('borderColor.default', currentColor);
}

/* Buttons have a default outline */
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
